@using Meeting_6.Models
@model IEnumerable<News>
@{
    ViewBag.Title = "Editing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="allNews">
    @foreach (News item in Model)
    {
        <div class="newsBox">
            @Html.ActionLink(item.Title, "OneNews", new { id = item.Id })
            <hr />
            @if (item.Description.Length > 150)
            {
                <p>@item.Description.Substring(0, 150)...</p>
            }
            else
            {
                <p>@item.Description</p>
            }
            <h6 class="date">@item.Date.ToShortDateString()</h6>
            <hr />
            <div class="buttons">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "editBut" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "delBut" })
            </div>
        </div>
    }
    @Html.ActionLink("Добавить новость", "Add", null, new { @class = "submitBut" } )
</div>